<h1 class="display-3">convert works!</h1>
<div class="container">
  <!-- Content here -->

  <label  class="form-label">Chọn phương thức cần convert</label>
  <select class="form-select" aria-label="Default select example"

  >
    <option value="" selected>----chọn----</option>
    <option value="1">String -> Hex</option>
    <option value="2">Hex -> String</option>
    <option value="3">String -> Base64</option>
    <option value="4">Base64 -> String</option>
  </select>
<!--  <span class="text-danger" *ngIf="selectType.touched && selectType.errors?.required">-->
<!--            *Trường này không được để trống</span>-->

</div>
